<section class="advantages">
  <div class="advantages-container">
    <h2 class="visually-hidden">Advantages</h2>
    <ol class="advantages-list">
      <li class="advantages-item">
        <p class="number-subtitle">01</p>
        <div class="line"></div>
        <!-- <svg class="lines-svg" width="295" height="2">
              <use href="./image/icons.svg#icon-Rounded-rectangle"></use>
            </svg> -->
        <p class="advantages-text advantages-text1">
          Swimming and water sports: try your hand at water skiing
        </p>
      </li>
      <li class="advantages-item">
        <p class="number-subtitle">02</p>
        <div class="line"></div>
        <!-- <svg class="lines-svg" width="295" height="2">
              <use href="./image/icons.svg#icon-Rounded-rectangle"></use>
            </svg> -->
        <p class="advantages-text advantages-text2">
          Fishing: try to catch your own dinner
        </p>
      </li>
      <li class="advantages-item">
        <p class="number-subtitle">03</p>
        <div class="line"></div>
        <!-- <svg class="lines-svg" width="295" height="2">
              <use href="./image/icons.svg#icon-Rounded-rectangle"></use>
            </svg> -->
        <p class="advantages-text advantages-text3">
          Sightseeing tours: take a shore or island tour, enjoy the views and
          sunsets from the water
        </p>
      </li>
      <li class="advantages-item not-mb">
        <p class="number-subtitle">04</p>
        <div class="line"></div>
        <!-- <svg class="lines-svg" width="295" height="2">
              <use href="./image/icons.svg#icon-Rounded-rectangle"></use>
            </svg> -->
        <p class="advantages-text advantages-text4">
          Rest and relaxation: read a book or listen to music while enjoying the
          outdoor atmosphere.
        </p>
      </li>
    </ol>
    <div class="section-img">
      <picture>
        <source
          srcset="
            ./img/advantages/desktopB-min.jpg   1x,
            ./img/advantages/desktopBx2-min.jpg 2x
          "
          media="(min-width: 1440px)"
        />
        <source
          srcset="
            ./img/advantages/desktop-min.jpg   1x,
            ./img/advantages/desktopX2-min.jpg 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            ./img/advantages/tabl-min.jpg   1x,
            ./img/advantages/tablX2-min.jpg 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./img/advantages/mob-min.jpg   1x,
            ./img/advantages/mobX2-min.jpg 2x
          "
          media="(min-width: 320px)"
        />

        <img
          src="./img/advantages/desktop-min.jpg"
          alt="Ship"
          class="advantages-img"
        />
      </picture>
    </div>
  </div>
</section>
