<header class="header">
    <div class="container header-container">
        <nav class="navigation">
            <a class="logo" href="./index.html">yachtjet</a>
            </nav>
            <div class="button-nav">
            <button type="button" class="button-text" >About</button>
            <button type="button" class="button-text">Yachts</button>
            <button type="button" class="button-text">Reviews</button>
        </div>
        <div class="header-soc">
        <ul class="header-link-social">
            <li class="header-link-social">
                <a href="https://www.instagram.com/goitclub/" class="header-social-icon">
                    <svg class="header-social-media" width="24" height="24">
                        <use href="../img/icons.svg#icon-inst-dark-green"></use>
                    </svg>
                </a>
            </li>
            <li class="header-link-social">
                <a href="https://www.youtube.com/c/GoIT" class="header-social-icon">
                    <svg class="header-social-media" width="24" height="24">
                        <use class="icon" href="../img/icons.svg#icon-youtube-dark-green"></use>
                    </svg></a>
            </li>
            <li class="header-link-social">
                <a href="https://www.facebook.com/goITclub/" class="header-social-icon">
                    <svg class="header-social-media" width="24" height="24">
                        <use href="../img/icons.svg#icon-fb-dark-green"></use>
                    </svg></a>
            </li>
        </ul>
    </div>
    </div>
</header>
