<header class="header">
    <div class="container">
        <a class="logo" href="./index.html">yachtjet</a>
        <ul class="button-nav">
            <li class="button-nav-item"><a href="#header-about" class="button-text btn__animated">About</a></li>
            <li class="button-nav-item"><a href="#header-yachts" class="button-text btn__animated">Yachts</a></li>
            <li class="button-nav-item"><a href="#header-reviews" class="button-text btn__animated">Reviews</a></li>
        </ul>
        <ul class="header-link-social">
            <li class="header-list-social">
                <a href="https://www.instagram.com/goitclub/" class="header-social-icon" target="_blank">
                    <svg class="header-social-media" width="24" height="24">
                        <use href="/img/icons.svg#icon-inst-white"></use>
                    </svg>
                </a>
            </li>
            <li class="header-list-social">
                <a href="https://www.youtube.com/c/GoIT" class="header-social-icon" target="_blank">
                    <svg class="header-social-media" width="24" height="24">
                        <use class="icon" href="/img/icons.svg#icon-youtube-white"></use>
                    </svg></a>
            </li>
            <li class="header-list-social">
                <a href="https://www.facebook.com/goITclub/" class="header-social-icon" target="_blank">
                    <svg class="header-social-media" width="24" height="24">
                        <use href="/img/icons.svg#icon-fb-white"></use>
                    </svg></a>
            </li>
        </ul>
        <button type="button" class="open-menu-btn">
            <svg width="24" height="24" class="header-open-icon" stroke="#1B414B">
                <use href="/img/icons.svg#icon-open-btn"></use>
            </svg>
        </button>
    </div>
    <!--mob-menu-->
    <div class="mob-menu">
        <div>
            <nav class="logo-nav">
                <a class="logo-menu" href="./index.html">yachtjet</a>
                <button type="button" class="icon-close-btn">
                    <svg width="28" height="28" class="header-close-icon">
                        <use href="/img/icons.svg#icon-close-btn"></use>
                    </svg>
                </button>
            </nav>
            <ul class="button-wrapper">
                <li class="button-wrapper-item"><a href="#header-about" class="button-text-mob btn__animated">About</a></li>
                <li class="button-wrapper-item"><a href="#header-yachts" class="button-text-mob btn__animated">Yachts</a></li>
                <li class="button-wrapper-item"><a href="#header-reviews" class="button-text-mob btn__animated">Reviews</a></li>
            </ul>
        </div>
        <ul class="header-link-social-mob">
            <li class="header-list-social-mob">
                <a href="https://www.instagram.com/goitclub/" class="header-social-icon-mob" target="_blank">
                    <svg class="header-social-media" width="24" height="24">
                        <use href="/img/icons.svg#icon-inst-white"></use>
                    </svg>
                </a>
            </li>
            <li class="header-list-social-mob">
                <a href="https://www.youtube.com/c/GoIT" class="header-social-icon-mob" target="_blank">
                    <svg class="header-social-media" width="24" height="24">
                        <use class="icon" href="/img/icons.svg#icon-youtube-white"></use>
                    </svg></a>
            </li>
            <li class="header-list-social-mob">
                <a href="https://www.facebook.com/goITclub/" class="header-social-icon-mob" target="_blank">
                    <svg class="header-social-media" width="24" height="24">
                        <use href="/img/icons.svg#icon-fb-white"></use>
                    </svg></a>
            </li>
        </ul>
    </div>
</header>