<section class="our-yachts" id="header-yachts">
  <div class="container-our-yachts">
    <h3 class="ouryachts-title">
      Choose your dream yacht and sail away into the sunset
    </h3>
    <ul class="box-ouryachts">
      <li class="ouryachts-item">
        <div class="card__front">
          <div class="our-yachts-picture-wrapper">
            <picture class="our-yachts-picture">
              <source
                media="(max-width: 767px)"
                srcset="
                  ./img/our-yachts/375-arrow-1x-min.jpeg 1x,
                  ./img/our-yachts/375-arrow-2x-min.jpeg 2x
                "
              />
              <source
                media="(min-width: 768px) and (max-width: 1279px)"
                srcset="
                  ./img/our-yachts/768-arrow-1x-min.jpeg 1x,
                  ./img/our-yachts/768-arrow-2x-min.jpeg 2x
                "
              />
              <source
                media="(min-width: 1280px) and (max-width: 1439px)"
                srcset="
                  ./img/our-yachts/1280-arrow-1x-min.jpeg 1x,
                  ./img/our-yachts/1280-arrow-2x-min.jpeg 2x
                "
              />
              <source
                media="(min-width: 1440px)"
                srcset="
                  ./img/our-yachts/1440-arrow-1x-min.jpeg 1x,
                  ./img/our-yachts/1440-arrow-2x-min.jpeg 2x
                "
              />
              <img
                src="./img/our-yachts/1440-arrow-1x-min.jpeg"
                alt="yacht arrow"
              />
            </picture>
          </div>
          <div class="arrow-list">
            <div class="arrow">
              <p class="arrow-tittle">Arrow</p>
              <p class="arrow-tittle-right">LUXURY YAHTS</p>
            </div>
            <!-- <svg class="line" width="272" height="2">
                <use href="./img/icons.svg#icon-line"></use>
              </svg> -->
            <div class="arrow-list-content">
              <div class="arrow-content">
                <p>LENGTH</p>
                <p>BUILDER</p>
                <p>BUILT</p>
                <p>GUESTS</p>
                <p>PRICE</p>
              </div>

              <div class="arrow-object">
                <p>48m(155ft)</p>
                <p>Admiral</p>
                <p>2021</p>
                <p>11 in 5 cabins</p>
                <p>€33,500,000</p>
              </div>
            </div>
          </div>
        </div>
        <div class="card__back">
          <div class="container-rent-yachts">
            <h2 class="rent-price-head">RENT PRICE</h2>
            <h3 class="name-yacht">Arrow</h3>
            <p class="rent-pric-text">Charter Season & Rates</p>

            <div class="list-yachts">
              <div class="name-yachts">
                <ul class="name-yahts-list">
                  <li class="name-yachts-text-1">Low Season from:</li>
                  <li class="name-yachts-text-1">High Season from:</li>
                </ul>
                <div class="list-yachts">
                  <ul class="name-yahts-list">
                    <li class="name-yachts-text-2">€495000 p/wk</li>
                    <li class="name-yachts-text-2">€495000 p/wk</li>
                  </ul>
                </div>
              </div>
              <h3 class="opis">Overview</h3>
              <div class="container-opis">
                <p class="opis-text">
                  3-Cabin Sailing Yacht Jeanneau Sun Odysse 380 - Just Happy was
                  produced in 2022 and is located in Marina D Gocek, Turkey.
                </p>
                <p class="opis-text">
                  Just Happy can accommodate up to 7 people in 3 double cabins
                  and in a cabin with 1 bed. Pillows and blankets are included
                  in the price.Sailing Yacht Just Happy has 2 toilets with a
                  shower.
                </p>
                <p class="opis-text">
                  Jeanneau equipment: grotto-twisting, solar panels, bimini and
                  thruster. There is also an audio system and external speakers.
                  The kitchen is equipped with the
                </p>
                <p class="opis-text">
                  following equipment: oven, stove, sink and kitchen utensils.
                  The yacht is located in a sailing yacht and is served by
                  JustSail Turkey.
                </p>
              </div>
            </div>
          </div>
        </div>
      </li>

      <li class="ouryachts-item visually-none">
        <div class="card__front">
          <div class="our-yachts-picture-wrapper">
            <picture class="our-yachts-picture">
              <source
                media="(max-width: 1279px)"
                srcset="
                  ./img/our-yachts/768-benetti-1x-min.jpeg 1x,
                  ./img/our-yachts/768-benetti-2x-min.jpeg 2x
                "
              />
              <source
                media="(min-width: 1280px) and (max-width: 1439px)"
                srcset="
                  ./img/our-yachts/1280-benetti-1x-min.jpeg 1x,
                  ./img/our-yachts/1280-benetti-2x-min.jpeg 2x
                "
              />
              <source
                media="(min-width: 1440px)"
                srcset="
                  ./img/our-yachts/1440-benetti-1x-min.jpeg 1x,
                  ./img/our-yachts/1440-benetti-2x-min.jpeg 2x
                "
              />
              <img
                src="./img/our-yachts/1440-benetti-1x-min.jpeg"
                alt="yacht benetti oasis 40m"
              />
            </picture>
          </div>
          <div class="arrow-list">
            <div class="arrow">
              <p class="arrow-tittle">BENETTI OASIS 40M BO122</p>
              <p class="arrow-tittle-right">LUXURY YAHTS</p>
            </div>
            <!-- <svg class="line" width="272" height="2">
              <use href="./img/icons.svg#icon-line"></use>
            </svg> -->
            <div class="arrow-list-content">
              <div class="arrow-content">
                <p>LENGTH</p>
                <p>SHIPYARD</p>
                <p>BUILT</p>
                <p>GUESTS</p>
                <p>PRICE</p>
              </div>

              <div class="arrow-object">
                <p>41m (133ft)</p>
                <p>Benetti</p>
                <p>2025</p>
                <p>10 in 5 cabins</p>
                <p>€23,210,000</p>
              </div>
            </div>
          </div>
        </div>
        <div class="card__back">
          <div class="container-rent-yachts">
            <h2 class="rent-price-head">RENT PRICE</h2>
            <h3 class="name-yacht">Benetti oasis 40M b0122</h3>
            <p class="rent-pric-text">Charter Season & Rates</p>

            <div class="list-yachts">
              <div class="name-yachts">
                <ul class="name-yahts-list">
                  <li class="name-yachts-text-1">Low Season from:</li>
                  <li class="name-yachts-text-1">High Season from:</li>
                </ul>
                <div class="list-yachts">
                  <ul class="name-yahts-list">
                    <li class="name-yachts-text-2">€495000 p/wk</li>
                    <li class="name-yachts-text-2">€495000 p/wk</li>
                  </ul>
                </div>
              </div>
            </div>
            <h3 class="opis">Overview</h3>
            <div class="container-opis">
              <p class="opis-text">
                3-Cabin Sailing Yacht Jeanneau Sun Odysse 380 - Just Happy was
                produced in 2022 and is located in Marina D Gocek, Turkey.
              </p>
              <p class="opis-text">
                Just Happy can accommodate up to 7 people in 3 double cabins and
                in a cabin with 1 bed. Pillows and blankets are included in the
                price.Sailing Yacht Just Happy has 2 toilets with a shower.
              </p>
              <p class="opis-text">
                Jeanneau equipment: grotto-twisting, solar panels, bimini and
                thruster. There is also an audio system and external speakers.
                The kitchen is equipped with the
              </p>
              <p class="opis-text">
                following equipment: oven, stove, sink and kitchen utensils. The
                yacht is located in a sailing yacht and is served by JustSail
                Turkey.
              </p>
            </div>
          </div>
        </div>
      </li>

      <li class="ouryachts-item visually-none-dec">
        <div class="card__front">
          <div class="our-yachts-picture-wrapper">
            <picture class="our-yachts-picture">
              <source
                media="(max-width: 1439px)"
                srcset="
                  ./img/our-yachts/1280-belle-1x-min.jpeg 1x,
                  ./img/our-yachts/1280-belle-2x-min.jpeg 2x
                "
              />
              <source
                media="(min-width: 1440px)"
                srcset="
                  ./img/our-yachts/1440-belle-1x-min.jpeg 1x,
                  ./img/our-yachts/1440-belle-2x-min.jpeg 2x
                "
              />
              <img
                src="./img/our-yachts/1440-belle-1x-min.jpeg"
                alt="yacht belle anna"
              />
            </picture>
          </div>

          <div class="arrow-list">
            <div class="arrow">
              <p class="arrow-tittle">BELLE ANNA</p>
              <p class="arrow-tittle-right">LUXURY YAHTS</p>
            </div>
            <!-- <svg class="line" width="272" height="2">
              <use href="./img/icons.svg#icon-line"></use>
            </svg> -->
            <div class="arrow-list-content">
              <div class="arrow-content">
                <p>LENGTH</p>
                <p>SHIPYARD</p>
                <p>BUILT</p>
                <p>GUESTS</p>
                <p>PRICE</p>
              </div>

              <div class="arrow-object">
                <p>50m(155ft)</p>
                <p>ISA</p>
                <p>2012</p>
                <p>12 in 6 cabins</p>
                <p>€21,000,000</p>
              </div>
            </div>
          </div>
        </div>
        <div class="card__back">
          <div class="container-rent-yachts">
            <h2 class="rent-price-head">RENT PRICE</h2>
            <h3 class="name-yacht">Belle anna</h3>
            <p class="rent-pric-text">Charter Season & Rates</p>

            <div class="list-yachts">
              <div class="name-yachts">
                <ul class="name-yahts-list">
                  <li class="name-yachts-text-1">Low Season from:</li>
                  <li class="name-yachts-text-1">High Season from:</li>
                </ul>
                <div class="list-yachts">
                  <ul class="name-yahts-list">
                    <li class="name-yachts-text-2">€495000 p/wk</li>
                    <li class="name-yachts-text-2">€495000 p/wk</li>
                  </ul>
                </div>
              </div>
            </div>
            <h3 class="opis">Overview</h3>
            <div class="container-opis">
              <p class="opis-text">
                3-Cabin Sailing Yacht Jeanneau Sun Odysse 380 - Just Happy was
                produced in 2022 and is located in Marina D Gocek, Turkey.
              </p>
              <p class="opis-text">
                Just Happy can accommodate up to 7 people in 3 double cabins and
                in a cabin with 1 bed. Pillows and blankets are included in the
                price.Sailing Yacht Just Happy has 2 toilets with a shower.
              </p>
              <p class="opis-text">
                Jeanneau equipment: grotto-twisting, solar panels, bimini and
                thruster. There is also an audio system and external speakers.
                The kitchen is equipped with the
              </p>
              <p class="opis-text">
                following equipment: oven, stove, sink and kitchen utensils. The
                yacht is located in a sailing yacht and is served by JustSail
                Turkey.
              </p>
            </div>
          </div>
        </div>
      </li>
    </ul>
    <a href="#hero-rent" class="yacht-rental animated__shadow">Yacht rental</a>
  </div>
</section>
