
        <section class="our-yachts container">
            <div class="container-our-yachts">
                <h3 class="ouryachts-title">Choose your dream yacht and sail away into the sunset</h3>
                <ul class="box-ouryachts">
                    <li class="ouryachts-item">
                        <picture class="our-yachts-picture">
                            <source media="(max-width: 767px)" 
                            srcset="./img/our-yachts/yacht-mob.png 1x, ./img/our-yachts/yacht@2x-mob.png 2x" />
                            <source media="(min-width: 768px) and (max-width: 1279px)" 
                            srcset="./img/our-yachts/yacht-tab.png 1x, ./img/our-yachts/yacht@2x-tab.png 2x" />
                            <source media="(min-width: 1280px)" 
                            srcset="./img/our-yachts/yacht-dec.png 1x, ./img/our-yachts/yacht@2x-dec.png 2x" />
                            <img src="./img/our-yachts/yacht-dec.png" alt="yacht arrow" />
                        </picture>
                        <div class="arrow-list">
                            <div class="arrow">
                                <p class="arrow-tittle">Arrow</p>
                                <p class="arrow-tittle-right">LUXURY YAHTS</p>
                            </div>
                                <svg class="line" width="272" height="2" viewBox="0 0 272 2" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0 1H272" stroke="#040306" stroke-opacity="0.1" />
                                </svg>
                            <div class="arrow-content">
                                <p class="arrow-class">LENGTH</p>
                                <p class="arrow-object">48m(155ft)</p>
                            </div>
                            <div class="arrow-content">
                                <p class="arrow-class">BUILDER</p>
                                <p class="arrow-object">Admiral</p>
                            </div>
                            <div class="arrow-content">
                                <p class="arrow-class">BUILT</p>
                                <p class="arrow-object">2021</p>
                            </div>
                            <div class="arrow-content">
                                <p class="arrow-class">GUESTS</p>
                                <p class="arrow-object">11 in 5 cabins</p>
                            </div>
                            <div class="arrow-content">
                                <p class="arrow-class">PRICE</p>
                                <p class="arrow-object">€33,500,000</p>
                            </div>
                        </div>
                    </li>

                    <li class="ouryachts-item visually-none">
                        <picture class="our-yachts-picture">
                            <source media="(max-width: 1279px)" 
                            srcset="./img/our-yachts/yacht-ben-tab.png 1x, ./img/our-yachts/yacht-ben@2x-tab.png 2x" />
                            <source media="(min-width: 1280px)" 
                            srcset="./img/our-yachts/yacht-ben-dec.png 1x, ./img/our-yachts/yacht-ben@2x-dec.png 2x" />
                            <img src="./img/our-yachts/yacht-ben-dec.png" alt="yacht benetti oasis 40m" />
                        </picture>
                        <div class="arrow-list">
                            <div class="arrow">
                                <p class="arrow-tittle">BENETTI OASIS 40M BO122</p>
                                <p class="arrow-tittle-right">LUXURY YAHTS</p>
                            </div>
                                <svg class="line" width="272" height="2" viewBox="0 0 272 2" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0 1H272" stroke="#040306" stroke-opacity="0.1" />
                                </svg>
                            <div class="arrow-content">
                                <p class="arrow-class">LENGTH</p>
                                <p class="arrow-object">41m (133ft)</p>
                            </div>
                            <div class="arrow-content">
                                <p class="arrow-class">SHIPYARD</p>
                                <p class="arrow-object">Benetti</p>
                            </div>
                            <div class="arrow-content">
                                <p class="arrow-class">BUILT</p>
                                <p class="arrow-object">2025</p>
                            </div>
                            <div class="arrow-content">
                                <p class="arrow-class">GUESTS</p>
                                <p class="arrow-object">10 in 5 cabins</p>
                            </div>
                            <div class="arrow-content">
                                <p class="arrow-class">PRICE</p>
                                <p class="arrow-object">€23,210,000</p>
                            </div>
                        </div>
                    </li>

                    <li class="ouryachts-item visually-none-dec">
                        <picture class="our-yachts-picture">
                            <source media="(min-width: 1280px)" 
                            srcset="./img/our-yachts/yacht-anna-dec.png 1x, ./img/our-yachts/yacht-anna@2x-dec.png 2x" />
                            <img src="./img/our-yachts/yacht-anna-dec.png" alt="yacht belle anna" />
                        </picture>
                        <div class="arrow-list">
                            <div class="arrow">
                                <p class="arrow-tittle">BELLE ANNA</p>
                                <p class="arrow-tittle-right">LUXURY YAHTS</p>
                            </div>
                                <svg class="line" width="272" height="2" viewBox="0 0 272 2" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0 1H272" stroke="#040306" stroke-opacity="0.1" />
                                </svg>
                            <div class="arrow-content">
                                <p class="arrow-class">LENGTH</p>
                                <p class="arrow-object">50m(155ft)</p>
                            </div>
                            <div class="arrow-content">
                                <p class="arrow-class">SHIPYARD</p>
                                <p class="arrow-object">ISA</p>
                            </div>
                            <div class="arrow-content">
                                <p class="arrow-class">BUILT</p>
                                <p class="arrow-object">2012</p>
                            </div>
                            <div class="arrow-content">
                                <p class="arrow-class">GUESTS</p>
                                <p class="arrow-object">12 in 6 cabins</p>
                            </div>
                            <div class="arrow-content">
                                <p class="arrow-class">PRICE</p>
                                <p class="arrow-object">€21,000,000</p>
                            </div>
                        </div>
                    </li>

                </ul>
                <div>
                    <a class="yacht-rental" href="#rent-a-yacht">Yacht rental</a>
                </div>
            </div>
        </section>

