
        <section class="our-yachts container">
            <div class="container-our-yachts">
                <h3 class="ouryachts-title">Choose your dream yacht and sail away into the sunset</h3>
              
                    <ul class="box-ouryachts">
                        <li class="ouryachts-item">
                            <picture class="our-yachts-picture">
                                <source media="(max-width: 767px)" 
                                srcset="./img/our-yachts/yacht-mob.png 1x, ./img/our-yachts/yacht@2x-mob.png 2x" />
                                <source media="(min-width: 768px) and (max-width: 1279px)" 
                                srcset="./img/our-yachts/yacht-tab.png 1x, ./img/our-yachts/yacht@2x-tab.png 2x" />
                                <source media="(min-width: 1280px)" 
                                srcset="./img/our-yachts/yacht-dec.png 1x, ./img/our-yachts/yacht@2x-dec.png 2x" />
                                <img src="./img/our-yachts/yacht-dec.png" alt="yacht arrow" />
                            </picture>
                            <div class="arrow-list">
                                <div class="arrow">
                                    <p class="arrow-tittle">Arrow</p>
                                    <p class="arrow-tittle-right">LUXURY YAHTS</p>
                                </div>
                                    <svg class="line" width="272" height="2">
                                        <use href="./img/icons.svg#icon-line"></use>
                                    </svg>
                                <div class="arrow-list-content">
                                    <div class="arrow-content">
                                        <p>LENGTH</p>
                                        <p>BUILDER</p>
                                        <p>BUILT</p>
                                        <p>GUESTS</p>
                                        <p>PRICE</p>
                                    </div>

                                    <div class="arrow-object">
                                        <p>48m(155ft)</p>
                                        <p>Admiral</p>
                                        <p>2021</p>
                                        <p>11 in 5 cabins</p>
                                        <p>€33,500,000</p>
                                    </div>
                                </div>

                        </li>

                        <li class="ouryachts-item visually-none">
                            <picture class="our-yachts-picture">
                                <source media="(max-width: 1279px)" 
                                srcset="./img/our-yachts/yacht-ben-tab.png 1x, ./img/our-yachts/yacht-ben@2x-tab.png 2x" />
                                <source media="(min-width: 1280px)" 
                                srcset="./img/our-yachts/yacht-ben-dec.png 1x, ./img/our-yachts/yacht-ben@2x-dec.png 2x" />
                                <img src="./img/our-yachts/yacht-ben-dec.png" alt="yacht benetti oasis 40m" />
                            </picture>
                            <div class="arrow-list">
                                <div class="arrow">
                                    <p class="arrow-tittle">BENETTI OASIS 40M BO122</p>
                                    <p class="arrow-tittle-right">LUXURY YAHTS</p>
                                </div>
                                    <svg class="line" width="272" height="2">
                                        <use href="./img/icons.svg#icon-line"></use>
                                    </svg>
                                    <div class="arrow-list-content">
                                        <div class="arrow-content">
                                            <p>LENGTH</p>
                                            <p>SHIPYARD</p>
                                            <p>BUILT</p>
                                            <p>GUESTS</p>
                                            <p>PRICE</p>
                                        </div>
        
                                        <div class="arrow-object">
                                            <p>41m (133ft)</p>
                                            <p>Benetti</p>
                                            <p>2025</p>
                                            <p>10 in 5 cabins</p>
                                            <p>€23,210,000</p>
                                        </div>
                                    </div>
                        </li>

                        <li class="ouryachts-item visually-none-dec">
                            <picture class="our-yachts-picture">
                                <source media="(min-width: 1280px)" 
                                srcset="./img/our-yachts/yacht-anna-dec.png 1x, ./img/our-yachts/yacht-anna-@2x-dec.png 2x" />
                                <img src="./img/our-yachts/yacht-anna-dec.png" alt="yacht belle anna" />
                            </picture>
                            <div class="arrow-list">
                                <div class="arrow">
                                    <p class="arrow-tittle">BELLE ANNA</p>
                                    <p class="arrow-tittle-right">LUXURY YAHTS</p>
                                </div>
                                    <svg class="line" width="272" height="2">
                                        <use href="./img/icons.svg#icon-line"></use>
                                    </svg>
                                    <div class="arrow-list-content">
                                        <div class="arrow-content">
                                            <p>LENGTH</p>
                                            <p>SHIPYARD</p>
                                            <p>BUILT</p>
                                            <p>GUESTS</p>
                                            <p>PRICE</p>
                                        </div>
        
                                        <div class="arrow-object">
                                            <p>50m(155ft)</p>
                                            <p>ISA</p>
                                            <p>2012</p>
                                            <p>12 in 6 cabins</p>
                                            <p>€21,000,000</p>
                                        </div>
                                    </div>
                        </li>

                    </ul>
            

                   <button class="yacht-rental" type="button" onclick="window.location.href='#rent'">Yacht rental</button>
            </div>
        </section>

