.header-container {
    box-sizing: border-box;
    min-width: 335px;
    max-width: 375px;
    display: flex;
    height: 42px;
    border-radius: 8px;
    border: 1px solid #FBFBFB;
    background: #FBFBFB;

}

.header {
    padding-top: 20px;
    background-image: url(/img/images/mob-2x-min.png);
}

.logo {
    color: #1B414B;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.03em;
    margin-right: 113px;

}

.button-nav {
    display: none;
}

.header-link-social {
    display: none;
}

.open-menu-btn {
    width: 28px;
    height: 28px;
    line-height: 0;
    flex-shrink: 0;
    background-color: transparent;
}

@media screen and (min-width:768px) {
    .header .container {
        max-width: 768px;
    }

    .header-container {
        display: flex;
        width: 704px;
        height: 48px;
        padding: 12px 28px;

    }

    .open-menu-btn {
        display: none;
    }

    .button-nav {
        display: flex;

    }

    .header-link-social {
        display: flex;
    }

    .logo {
        font-weight: 500;
        font-size: 20px;
        letter-spacing: -0.03em;
        color: #1b414b;
        margin-right: 113px;


    }

    .button-nav {
        display: flex;
        gap: 4px;
    }

    .button-text {
        border-radius: 8px;
        width: 91px;
        height: 40px;
        background-color: rgba(27, 65, 75, 0.5);
        font-weight: 400;
        font-size: 9px;
        line-height: 4;
        text-transform: uppercase;
        text-align: center;
        color: #fbfbfb;
    }

    .header-soc {
        margin-left: 96px;
    }

    .header-link-social {
        display: flex;
        gap: 8px;
    }

    .header-social-icon {
        fill: #1b414b;
    }
}

@media screen and (min-width:1280px) {
    .header .container {
        max-width: 1280;
    }

    .header-container {
        display: flex;
        min-width: 1080px;
        padding: 12px 30px;

    }

    .logo {
        margin-right: 296px;
    }

    .header-soc {
        margin-left: 281px;
    }
}