.hero {
  background-color: black;
}
.container {
}
.hero-head {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fbfbfb;
}
.hero-text {
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  font-size: 12px;
  line-height: 1.16667;
  text-align: center;
  color: rgba(251, 251, 251, 0.7);
}
.hero-btn {
  border-radius: 15px;
  padding: 14px 32px;
  width: 141px;
  height: 46px;
  background: #1b414b;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  color: #fbfbfb;
}
