
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
    white-space: nowrap;
    clip-path: inset(100%);
  }

.our-yachts {
    max-width: 375px;
    color: #fbfbfb;
    background-color: #0e1823;
    margin: 0 auto;
    padding: 40px 20px;
    background-color: #0e1823;
    align-items: center;
} 

.container-our-yachts {
   display: inline-flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}
 

.ouryachts-title {
    font-weight: 500;
    font-size: 28px;
    line-height: 1;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 40px;   
}

.box-ouryachts {
    width: 335px;
    align-items: center;
    margin-bottom: 40px;
}

.ouryachts-item {
    border-radius: 24px;
    background: #fbfbfb;
    max-width: 100%;
    height: 478px;
}

.our-yachts-picture {
    padding: 16px;
    border-radius: 24px;
    margin: 0 auto;
}

.our-yachts-picture img {
    width: calc(100% - 30px);
    margin: 0 auto;

}

.arrow-list {
    padding: 0 32px;
}

.arrow {
    display: flex;
    justify-content: space-between;
    gap: 6px;
    width: 270px;
    height: 17px;
    margin-right: auto;
    margin-left: auto;
}

.line {
    display: block;
    margin: 16px auto;
}

.arrow-tittle {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.18;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #1b414b;
    
}

.arrow-tittle-right {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #040306;
    opacity: 0.4;
}

.arrow-content {
    width: 270px;   
    font-weight: 400;
    font-size: 14px;
    line-height: 1,18;
    letter-spacing: 0.03em;
    color: #040306;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.arrow-class {
    text-transform: uppercase;
    opacity: 0.4;
}

.yacht-rental {
    border: 1px solid rgba(251, 251, 251, 0.35);
    border-radius: 15px;
    padding: 14px 32px;
    width: 141px;
    height: 46px;
}

@media screen and (max-width:767px) {
    .visually-none {
      display: none;
    }
}

@media screen and (min-width:768px) {
    .our-yachts {
      max-width: 768px;
    }

    .ouryachts-item {
        height: 508px;
    }

    .ouryachts-title {
      font-size: 48px;
      margin-bottom: 75px;
    }

    .box-ouryachts {
        display: flex;
        gap: 32px;
        justify-content: center;

    }

    .our-yacht-img {
        padding: 16px;
        border-radius: 24px;
        width: 304px;
        height: 268px;
        margin: 0 auto;
    }


}

@media screen and (max-width:1279px) {
    .visually-none-dec {
      display: none;
    }

}


@media screen and (min-width:1280px) {
    .our-yachts {
      max-width: 1280px;
    }



}